{% extends 'base.html' %}

{% block title %}Works Logix | LogixPM{% endblock %}

{% block page_content %}
  {% set dashboard_endpoint = 'property_manager.pm_dashboard' %}
  {% set dashboard_label = 'Dashboard' %}
  {% set convert_endpoint = 'property_manager.convert_member_request' %}
  {% set request_detail_endpoint = 'property_manager.member_request_detail' %}
  {% set assign_endpoint = 'property_manager.assign_work_order_contractor' %}
  {% set request_quotes_endpoint = 'property_manager.request_work_order_quotes' %}
  {% set select_quote_endpoint = 'property_manager.select_work_order_quote' %}
  {% set reset_endpoint = 'property_manager.work_orders' %}
  {% set repeated_returns_endpoint = 'property_manager.work_orders_repeated_returns' %}
  {% set workspace_title = 'Works Logix' %}
  {% set workspace_subtitle = 'Property manager command centre for assigned developments, member requests and live work orders.' %}
  {% include 'works/_command_centre.html' %}
{% endblock %}
