<!DOCTYPE html>
<html>
<head>
    <title>Generate QR Code</title>
</head>
<body>
    <h1>Add New Equipment</h1>
    <form method="POST">
        <label>ID:</label><br>
        <input type="text" name="id" required><br><br>

        <label>Client:</label><br>
        <select name="client" required>
            <option value="" disabled selected>Select a client</option>
            {% for client in client_names %}
            <option value="{{ client }}">{{ client }}</option>
            {% endfor %}
        </select><br><br>

        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Location:</label><br>
        <input type="text" name="location" required><br><br>

        <label>Model:</label><br>
        <input type="text" name="model"><br><br>

        <label>Age:</label><br>
        <input type="text" name="age"><br><br>

        <label>Last Inspection Date:</label><br>
        <input type="date" name="last_inspection"><br><br>

        <label>Your PIN:</label><br>
        <input type="text" name="pin" required><br><br>

        <button type="submit">Generate QR Code</button>
    </form>

    <br>
    <a href="/">⬅ Back to Home</a>
</body>
</html>
