<aside class="bg-white border-end" style="width: 250px; min-height: 100vh;">
    <div class="p-3">
      <h5 class="fw-bold text-success">Director Logix</h5>
      <hr>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('capex_dashboard') }}">
            <i class="fas fa-euro-sign me-2"></i>CAPEX Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('director_settings') }}">
            <i class="fas fa-cog me-2"></i>Settings
          </a>
        </li>
      </ul>
    </div>
  </aside>