
<div class="row">
  <div class="col-md-3">
    <div class="card text-white bg-primary mb-3 shadow">
      <div class="card-body">
        <h5 class="card-title">Pending CAPEX</h5>
        <p class="card-text fs-4">{{ capex_count }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-white bg-success mb-3 shadow">
      <div class="card-body">
        <h5 class="card-title">Inspections</h5>
        <p class="card-text fs-4">{{ inspection_count }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-white bg-warning mb-3 shadow">
      <div class="card-body">
        <h5 class="card-title">Assigned Clients</h5>
        <p class="card-text fs-4">{{ client_count }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-white bg-danger mb-3 shadow">
      <div class="card-body">
        <h5 class="card-title">Missed Tasks</h5>
        <p class="card-text fs-4">{{ missed_tasks_count }}</p>
      </div>
    </div>
  </div>
</div>
